.headerBar {
    display: flex;
    /*padding-right: 15px;*/
    /*width: 100vw;*/
    justify-content: space-between;
    
}
.link-top {
    padding-top: 8%;
}
.image {
    margin-top: 15px;
    
   
   
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
    
  }

img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }*/



.top-text {
    margin-right: 10px;
}