@import url('https://fonts.googleapis.com/css?family=Nunito');

.main-wrapper {
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;



  
}

html { 
  background: url(http://unsplash.com/photos/FIKD9t5_5zQ/download?force=true) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}

a { color: whitesmoke } /* Globally */

/* Each state */

a:visited { text-decoration: none; color: #496a90; }
a:hover { text-decoration: none; color:whitesmoke; }
/*a:focus { text-decoration: none; color:yellow; }*/
a:hover, a:active { text-decoration: none; color: whitesmoke; }


/*http://unsplash.com/photos/FIKD9t5_5zQ/download?force=true
http://unsplash.com/photos/OlZ1nWLEEgM/download?force=true*/